@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.navbar-link {
    @apply hover:text-blue-500 text-black  ;
    color: #333333 ;
  

  }
  
  .navbar-button {
    @apply bg-customblue text-white  font-medium text-black   ml-12;
    
  
  
  }
  
  .navbar {
    @apply flex justify-center items-center p-4 bg-white   w-full ;

  }
  
  .navbar-ul {
    @apply text-black space-x-4;
  }
  *{
    font-family: "Work Sans", sans-serif;
   
    font-weight: 600;
   
  }

.Title {
   @apply sm:text-5xl font-bold text-3xl; 
  }
  .Title2 {
    @apply text-3xl font-bold;
   }
  button , .navbar-button  {
    @apply rounded-full px-9 py-1.5 ; 
  }
 